<h1>Article Assignment</h1>
<h3 *ngIf="articleIdToUpdate; else create"> 
   Update Article for Id: {{articleIdToUpdate}}
</h3>
<ng-template #create>
   <h3> Create New Article </h3>
</ng-template>
<div class="FormDiv">
 <form [formGroup]="articleForm" (ngSubmit)="onArticleFormSubmit()">
    <div>
    <label> Title</label>
    <br>
    <input formControlName="title"><label *ngIf="articleForm.get('title').invalid && processValidation" [ngClass] = "'error'"> Title is required. </label>
    <p></p>
    <label> Category</label>
    <br>
    <input formControlName="category">
    <label *ngIf="articleForm.get('category').invalid && processValidation" [ngClass] = "'error'"> Category is required. </label>
    <br><br>
    <div class="text-center">
    <button class="btn" *ngIf="!articleIdToUpdate">CREATE</button>  
    <button class="btn" *ngIf="articleIdToUpdate">UPDATE</button>  
      <button class="btn" (click)="backToCreateArticle()" *ngIf="articleIdToUpdate">Go Back</button>  
    </div>
    </div>
 </form> 
 <br/>
 <div *ngIf="statusCode; else processing">
   <div *ngIf="statusCode === 201" [ngClass] = "'success'">
	    Article added successfully.
   </div>   
   <div *ngIf="statusCode === 409" [ngClass] = "'success'">
        Article already exists.
   </div>   	
   <div *ngIf="statusCode === 200" [ngClass] = "'success'">
        Article updated successfully.
   </div>   	      
   <div *ngIf="statusCode === 204" [ngClass] = "'success'">
        Article deleted successfully.
   </div>   	   
   <div *ngIf="statusCode === 500" [ngClass] = "'error'">
        Internal Server Error.
   </div>	
 </div>
 <ng-template #processing>
	<img *ngIf="requestProcessing" src="assets/images/loading.gif">
 </ng-template>
</div>
<h3>Article List</h3>
<table class="table-curved">
  <tr>
    <th class="thcss">Serial Number</th> 
    <th class="thcss">Title</th>
    <th class="thcss">Category</th>
    <th class="thcss">Action</th>
  </tr>
  <tr *ngFor="let article of allArticles; index as i">
    <td class="tdcss">{{i+1}}</td> 
    <td>{{article.title}}</td> 
    <td>{{article.category}}</td>
    <td><button class="btn" type="button" (click)="loadArticleToEdit(article.id)">Edit</button> 
    <button class="deletebtn" type="button" (click)="deleteArticle(article.id)">Delete</button></td>
  </tr>
</table>