body, h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
}
.FormDiv
{
    width: 20%;
    padding: 15px;
    background-color: #E6E6E6;
    font-family: Lato, sans-serif;
    border-radius: 4px;
}
.btn
{
    border-radius: 4px;
    font-size: 13px;
    line-height: 1.33333;
    cursor: pointer;
    background: #03D1E7;
    border: none;
    padding-top: 4px;
    padding-right: 14px;
    padding-bottom: 6px;
    padding-left: 14px;
    color: #fff;
}
.deletebtn
{
    border-radius: 4px;
    font-size: 13px;
    line-height: 1.33333;
    cursor: pointer;
    background: red;
    border: none;
    padding-top: 4px;
    padding-right: 14px;
    padding-bottom: 6px;
    padding-left: 14px;
    color: #fff;
}
h1 {
    font-size: 2.0em;
    margin: 20px 0 0 0;
    font-weight: 400;   
}
h3 { 
	color: #03D1E7;
}
table {
    border-collapse: collapse;
    font-family: Lato, sans-serif;
}
table, th, td {
	font-size:17px;
}
.table-curved {
    border: 1px solid #ECECEC;
    border-radius: 6px;
    width: 50%;
}
.thcss{
    background: rgb(3, 209, 231) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    border: medium none;
    padding: 6px;
    text-align: left;
}
.tdcss{
    padding: 6px;
}
input {
    width: 225px;
    height: 18px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.error{
    color: red;
    font-size: 14px;
}
.success{
    color: green;
    font-size: 14px;
}